* {
  scrollbar-width: thin;
  scrollbar-color: #8f8e8e transparent; /* [Color de la barra] [Color del fondo] */
}

::-webkit-scrollbar {
  width: 6px; /* Ancho del scroll vertical */ /* Fondo negro para que no se vea blanco */
}

/* 2. La barrita que se mueve (el "pulgar") */
::-webkit-scrollbar-thumb {
  background: #2f2f2f; 
  border-radius: 8px;
}

/* 3. Cuando pasas el mouse por encima de la barrita */
::-webkit-scrollbar-thumb:hover {
  background: #444; /* Un azul un poco más vibrante al interactuar */
}